.RandomPlanet
  display: flex
  padding: 1rem
  height: 180px


  .PlanetImage 
    width: 150px
    height: 150px
    border-radius: 10px
    margin-right: 1rem


  .ListGroup 
    margin: 1rem 0 0 1rem

    &Item 
      padding: .25rem

      .Term 
        margin-right: .5rem
